:root {
  --background: #FFF3CF;
  --text-primary: #000000;

  --link: #637A9F;
  --link-hover: #4F6F52;

  --navigation-item-border: #4F6F52;

  --youtube-container-background: #2D3250;
  --youtube-container-shadow: #F6ECA9;

  --icon-about-me: #3E3232;
  --icon-episode: #765827;
  --icon-flame: #FF9800;
  --icon-moto: #820300;
  --icon-pinpoint: #B80000;
  --icon-youtube-description: #43766C;
  --icon-youtube: #B80000;
}

[data-theme='dark'] {
  --background: #11235A;
  --text-primary: #DCF2F1;

  --link: #F2F7A1;
  --link-hover: #088395;

  --navigation-item-border: #F6B17A;

  --youtube-container-background: #365486;
  --youtube-container-shadow: #E8C872;
}

body {
  margin: 0;
  padding: 0;
}

.App {
  background-color: var(--background);
  color: var(--text-primary);

  font-family: 'Courier New', monospace;
  font-size: min(30px, 4vw);

  height: 100vh;
  overflow-y: auto;

  transition: all .5s;
}

a {
    text-decoration: none;
    color: var(--link);
}

a:hover{
  color: var(--link-hover);
}

.navigation_item {
  border-bottom: 2px solid var(--navigation-item-border);
}

.youtube-container {
  background-color: var(--youtube-container-background);
  box-shadow: 0 0 100px 0 var(--youtube-container-shadow);
}

.subtitle-icon {
  color: var(--link); 
}

.about-me-icon {
  color: var(--icon-about-me); 
}

.episode-icon {
  color: var(--icon-episode);
}

.flame-icon {
  color: var(--icon-flame);
}

.moto-icon {
  color: var(--icon-moto);
}

.pinpoint-icon {
  color: var(--icon-youtube);
}

.youtube-description-icon {
  color: var(--icon-youtube-description);
}

.youtube-icon {
  color: var(--icon-youtube);
}

/* 

  --icon-switch-light-mode: #FFB534;
  --icon-switch-dark-mode: #FFB534;

.switch-light-mode-icon {
  color: var(--icon-switch-light-mode);
}

.switch-dark-mode-icon  {
  color: var(--icon-switch-dark-mode);
} 

*/