:root {
  --primary-background-color: #FFFFFF;
  --primary-text-color: #000000;
  --link-color: #3C0753;
  /* 
  --link-hover-color: #FFA732;
  --dark-background-color: #000000;
  --dark-text-color: #FFFFFF;
  --dark-link-color: #43766C;
  --dark-link-hover-color: #00bfea; */
}

body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: 'Courier New', monospace;
  font-size: min(30px, 4vw);
  margin: 0;
}

#root { /* body applies to root as root is a kid of body */
  height: 100vh; /* Occupy 100% of viewport height */
  overflow-y: auto; /* Allow vertical scrolling if content exceeds viewport height */
}

a {
    text-decoration: none;
    color: var(--link-color);
}

a:hover {
  color: #FFA732;
}

.light-theme #root {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
}

.light-theme a {
  color: var(--link-color);
}

.light-theme a:hover {
  color: #FFA732;
}

@media (prefers-color-scheme: dark) {

  body {
    background-color: var(--primary-text-color);
    color: var(--primary-background-color);
  }

  a {
    color: #43766C;
  }

  a:hover {
    color: #00bfea;
  }

}

.dark-theme #root {
  background-color: var(--primary-text-color);
  color: var(--primary-background-color);
}

.dark-theme a {
  color: #43766C;
}

.dark-theme a:hover {
  color: #00bfea;
}
